<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated wmtsv1 -->
      <package
            uri="http://www.opengis.net/gml"
            class="net.opengis.gml311.Gml311Package"
            genModel="wmtsv1.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated wmtsv1 -->
      <parser
            type="gml311"
            class="net.opengis.gml311.util.Gml311ResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated wmtsv1 -->
      <package
            uri="http://www.w3.org/2001/SMIL20/"
            class="org.w3._2001.smil20.Smil20Package"
            genModel="wmtsv1.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated wmtsv1 -->
      <parser
            type="smil20"
            class="org.w3._2001.smil20.util.Smil20ResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated wmtsv1 -->
      <package
            uri="http://www.w3.org/2001/SMIL20/Language"
            class="org.w3._2001.smil20.language.LanguagePackage"
            genModel="wmtsv1.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated wmtsv1 -->
      <parser
            type="language"
            class="org.w3._2001.smil20.language.util.LanguageResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated wmtsv1 -->
      <package
            uri="http://www.opengis.net/wmts/1.0"
            class="net.opengis.wmts.v_1.wmtsv_1Package"
            genModel="wmtsv1.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated wmtsv1 -->
      <parser
            type="wmtsv_1"
            class="net.opengis.wmts.v_1.util.wmtsv_1ResourceFactoryImpl"/>
   </extension>

</plugin>
