sudo: false
dist: trusty
cache:
  directories:
    - "$HOME/.m2"
language: java
before_install:
  - sed -i.bak -e 's|https://nexus.codehaus.org/snapshots/|https://oss.sonatype.org/content/repositories/codehaus-snapshots/|g' ~/.m2/settings.xml
script:
  - mvn -B -fae -T1C -Dall clean install
notifications:
  email: false
  on_failure: never
jdk: 
  - oraclejdk8
addons:
  apt:
    packages:
      - python-sphinx
