/*@import url("http://extjs.cachefly.net/ext-2.2.1/resources/css/ext-all.css");*/

@import url("sphinxdoc.css");

/* override some of ext-all.css  */
ul, ol {
    margin: 14px 0;
    padding-left: 20px;
}
ul {
    list-style: disc;
}
ol {
    list-style-type:decimal;
}
strong {
    font-weight: bolder;
}

/* override some of sphinxdoc.css */
html {
    margin: 0;
    padding: 0;
}

body {
    border: none;
    background-color: white;
    margin-left: 0;
    margin-right: 0;
    min-width: 900px;
    max-width: 1050px;
    padding: 0;
    line-height: 110%;
    font-family: 'Lucida Sans','Geneva','Verdana',sans-serif;
}

h1, h2, h3, h4, h5, h6 {
   color: #004d87;
}

div.body h1 a, div.body h2 a, div.body h3 a, div.body h4 a, div.body h5 a, div.body h6 a {
   color: #004d87!important;
   text-decoration: none;
}

table td, table th {
    padding: 0;
}

a.reference em {
    font-style: normal;
}

div.sphinxsidebar {
    margin: 0;
    padding: 0.0em 15px 15px 0.5em;
    width: 210px;
    float: right;
    font-size: 1em;
    text-align: left;
    background-color: #FFFFFF; 
}

div.sphinxsidebar h3, div.sphinxsidebar h4 {
    background: inherit;
    border: none;
    color: #385F95;
    padding: 0;
}
div.sphinxsidebar h3 a {
    color: inherit;
}
div.document {
    margin: 0 10px;
}
div.documentwrapper {
    margin-left: 50px;
    margin-right: 10px;
    padding: 0;
}


div.footer {
    background: #fff url(img/footer-bg.png) no-repeat;
    color: #000000;
    padding: 60px 0 35px;
    text-align: center;
}

/* custom header */
div.header {
    position: relative;
    overflow: hidden;
    height: 30px;
    background: #fff url(img/header-bg.png) no-repeat;
}
div.header div.wrap {
    margin: 0 80px;
}
#logo {
    padding: 0;
    padding-top: 0.5em;
}
#logo a {
    float: left;
    width: 476px;
    height: 125px;
    overflow: hidden;
    text-indent: -9999em;
    background: url(img/geotools-logo.png) no-repeat;
}
#logo_osgeo {
	padding: 0;
	position: absolute;
	right: 10px;
}
#logo_osgeo a {
	float: right;
    width: 200px;
    height: 85px;
    overflow: hidden;
    text-indent: -9999em;
    background: url(img/osgeo-logo.png) no-repeat;
}

#top-nav {
    position: absolute;
    top: 5px;
    bottom: 10px;
    right: 10px;
    list-style: none;
    margin: 0;
}

#top-nav li {
    display: inline;
    margin: 0;
    padding: 0 8px;
/*    border-left: 1px solid #47aa42;*/
    border-left: 1px solid #CA7900;
    color: #FFF;
}

#top-nav li:first-child, #top-nav li.first {
    border-left: 0;
}

#top-nav li a {
/*    color: #47aa42;*/
    font-weight: bold;
    text-decoration: none;
    font-family: "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}

#top-nav li a:hover {
/*    color: #e0e0e0;*/
}

/* index page links */
#quicklinks {
  margin: 0 auto;
  padding-top: 2em;
}

/*#getting-started ul {*/
#quicklinks ul {
	float: left; 
	padding: 0;
}
/*#getting-started li {*/
#quicklinks li {
	float: left; 
	display: inline;
	margin: 1.1em;
}

/*#getting-started a {*/
#quicklinks a {
  float: left;
  text-align: center;
  padding-top: 5em;
  min-width: 85px;
  background-position: center top;
  background-repeat: no-repeat;
}

/* search box style */
#searchbox {
    position: absolute;
    bottom: 70px;
    right: 95px;
    background: transparent url(img/search-box.png) top left no-repeat;
    height: 28px;
    width: 190px;
}
#searchbox-query {
    color: #72a629;
    font-size: 0.92em;
    border: 0;
    background: transparent;
    width: 175px;
    margin: 5px 0 0 8px;
}
#searchbox-submit {
    position: absolute;
    top: 6px;
    right: 5px;
}
a.headerlink {
    display: none;
}

/* meta-info about a class/module get pulled out */
.meta {
    float: right;
    padding: 0 2em;
    background-color: white;
}
.meta ul {
    list-style-type: none;
    padding: 0;
}

/* overriding clear: both on dl */
dl.class {
    clear: left;
}

/* don't display class names for attributes or methods*/
.attribute .descclassname {
    display: none;
}
.method .descclassname {
    display: none;
}
.classmethod .descclassname, .classmethod .property {
    display: none;
}

/* headers with bottom border get some padding */
h2, h3, h4 {
    padding-bottom: 0.42cm;
    padding-top: 0.42cm;
}

/** outdenting literal code examples */
div.highlight {
    position: relative;
    left: -10px;
    margin-right: -10px;    
}

li div.highlight {
    position: relative;
    left: -30px;
    margin-right: -30px;    
}

/* making code samples less gigantic */
pre {
    font-size: 0.8em;
    border: 1px solid #333333;
    background-color: #E6E6E6;
}

/* blog entry style */
ul.rss_items li.rss_item {
    padding-bottom: 0.5em;
}

/* execute button style */
.x-btn.execute {
    margin: 1em;
}

/*
.wrap {
width: 990px;
margin: 0 auto; 
padding: 0;
}
*/

.selfclear:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

.selfclear {
display: inline-block; /* IE 7 */
}

.selfclear {
display: block;
}

#content {
	width: 740px; /*790px total*/
	overflow: hidden;
	float: left;
	margin: -3px 0 0 0;
	padding: 1216px 28px 0 22px;
	background: #fff;
	color: #262523;
	font-size: 1.2em;
}

#breadcrumbs {
font-size: 0.85em;
color: #c6e09b;
border-bottom: 1px solid #c6e09b;
margin: 0.2em 0 1em;
padding: 0 0 0.5em;
}

#breadcrumbs li {
list-style-type: none;
display: inline;
}

#breadcrumbs a {
color: #72a629;
text-decoration: none;
}

#breadcrumbs a:hover {
color: #26b2dd;
}

div #body {
  margin: 0px;
  padding: 0 1em 1em;
}

# previously -175
div.sidebar {
  float:right;
  width: 150px;
  margin-left: -0;
  font-style: italic;
  color: #808080;
  line-height: 150%;
  border: 0px;
  background-color: #FFF;
}

/* space out the intros */
div.section > p {
  margin: 0.5em 0 0.5em 0;
  line-height: 140%;
}
li {
   margin: 0.5em 0 0.5em 0;
}
li p {
   margin: 2 0 2 0;
}

div.body a {
   color: #004d87;
}
