<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.opengis.net/wcs/1.1.1" 
       class = "net.opengis.wcs11.wcs11Package"
       genModel = "wcs11.genmodel" /> 
  </extension>

</plugin>
