@mode "Simple";
@autoThreshold "100";

[type='residential'] [@scale <= 12500] [@scale > 4250] {
    font-family: 'Comic Sans MS' 'Droid Sans Fallback' 'Arial';
    label: [name];
    stroke: #ccc5be;
    stroke-width: 10;
}
