name: ElasticSearch integration tests

on: [pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  oss-tests:
    runs-on: ubuntu-24.04
    steps:
      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: 'temurin'
      - uses: actions/checkout@v6
      - name: Maven repository caching
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: gt-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            gt-maven-
      - name: Build GeoTools dependent modules (no tests, prepare fresh artifacts)
        run: |
          mvn clean install -B -ntp -T1C -Dall --file pom.xml -DskipTests -Dspotless.apply.skip=true \
          -pl modules/unsupported/elasticsearch -am
      - name: Build ElasticSearch module with online tests (OSS version 7.10.2)
        run: |
          mvn verify -B -Ponline -nsu -ntp -Dspotless.apply.skip=true \
          --file modules/unsupported/elasticsearch/pom.xml
      - name: Remove SNAPSHOT jars from repository
        run: |
          find ~/.m2/repository -name "*SNAPSHOT*" -type d | xargs rm -rf {}

  non-oss-tests:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        # Skip 7.15.2 due to cgroup v2 incompatibility in CI (https://github.com/orbstack/orbstack/issues/1654)
        # Coverage: OSS 7.10.2 (separate job), non-OSS 8.x and 9.x (this matrix)
        es-version: ['8.19.5', '9.1.5']
    steps:
      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: 'temurin'
      - uses: actions/checkout@v6
      - name: Maven repository caching
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: gt-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            gt-maven-
      - name: Build GeoTools dependent modules (no tests, prepare fresh artifacts)
        run: |
          mvn clean install -B -ntp -T1C -Dall --file pom.xml -DskipTests -Dspotless.apply.skip=true \
          -pl modules/unsupported/elasticsearch -am
      - name: Build ElasticSearch module with online tests (non-OSS version ${{ matrix.es-version }})
        run: |
          mvn verify -Ponline -B -nsu -ntp -Dspotless.apply.skip=true \
          --file modules/unsupported/elasticsearch/pom.xml \
          -Delastic.test.image=docker.elastic.co/elasticsearch/elasticsearch \
          -Delastic.test.version=${{ matrix.es-version }}
      - name: Remove SNAPSHOT jars from repository
        run: |
          find ~/.m2/repository -name "*SNAPSHOT*" -type d | xargs rm -rf {}
