name: GeoPackage integration tests

on: [pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:

    runs-on: ubuntu-20.04

    steps:
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: 11
        distribution: 'temurin'
    - uses: actions/checkout@v2
    - name: Maven repository caching
      uses: actions/cache@v2
      with:
        path: ~/.m2/repository
        key: gt-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          gt-maven-
    - name: Build GeoTools dependent modules (no tests, prepare fresh artifacts)
      run: mvn -B clean install -T2 -Dall --file pom.xml -DskipTests -pl modules/plugin/geopkg -am -Dspotless.apply.skip=true
    - name: Build GeoPackage module with online tests
      run: | 
        mkdir ~/.geotools
        echo -e "url=jdbc\:sqlite\:target/geotools\ndriver=org.sqlite.JDBC" > ~/.geotools/geopkg.properties
        mvn -B clean install --file modules/plugin/geopkg/pom.xml -Ponline -nsu -Dspotless.apply.skip=true
    - name: Remove SNAPSHOT jars from repository
      run: |
        find ~/.m2/repository -name "*SNAPSHOT*" -type d | xargs rm -rf {} 
