name: Downstream integration QA build (GeoWebCache and GeoServer)

on:
  pull_request:
    branches:
      - main
    paths:
      - 'platform-dependencies/pom.xml'
      - 'bom/pom.xml'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  MAVEN_OPTS: -Xmx2g -Daether.connector.basic.threads=8 -Daether.metadataResolver.threads=8 -Daether.syncContext.named.time=120 -Daether.syncContext.named.factory=file-lock -Daether.syncContext.named.nameMapper=file-gav -Dmaven.wagon.httpconnectionManager.ttlSeconds=25 -Dmaven.wagon.http.retryHandler.count=3 -Dorg.slf4j.simpleLogger.showDateTime=true -Dorg.slf4j.simpleLogger.dateTimeFormat=HH:mm:ss,SSS -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: 'temurin'
          cache: maven
      - name: Set up Maven
        uses: stCarolas/setup-maven@v5
        with:
          maven-version: 3.9.8
      - name: Disable checksum offloading
        # See: https://github.com/actions/virtual-environments/issues/1187#issuecomment-686735760
        run: |
          sudo ethtool -K eth0 tx off rx off
      - name: Build GeoTools (no tests, prepare fresh artifacts)
        run: |
          mvn -B -ntp clean install -T1C -Dall --file pom.xml -DskipTests
      - name: Checkout GeoWebCache and GeoServer
        run: |
          cd ~
          echo "Preparing git ssh checkouts"
          mkdir ~/.ssh/ && echo -e "Host github.com\n\tStrictHostKeyChecking no\n" > ~/.ssh/config
          echo "Checking out GeoWebCache"
          git clone https://github.com/GeoWebCache/geowebcache.git geowebcache
          echo "Checking out GeoServer"
          git clone https://github.com/geoserver/geoserver.git geoserver
      - name: Build GeoWebCache with QA checks
        run: |
          cd ~
          mvn -B clean install -Dspotless.action=check -Dpom.fmt.action=verify -Dqa -DskipTests=true -Dall -T1C --file geowebcache/geowebcache/pom.xml
      - name: Build GeoServer with QA checks
        run: |
          cd ~
          mvn -B -ntp -U -T1C -fae -Dspotless.action=check -Dpom.fmt.action=verify -Dqa -DskipTests -Prelease -f geoserver/src/pom.xml clean install
      - name: Remove SNAPSHOT jars from repository
        if: always()
        run: |
          find ~/.m2/repository -name "*SNAPSHOT*" -type d | xargs rm -rf {}
