name: MS SQL Server online tests

on: [pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: MS SQL ${{ matrix.mssql }} online test
    runs-on: [ubuntu-latest]
    strategy:
      matrix:
        mssql: [2019-latest, 2022-latest]
        java: [11]

    steps:
    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@v3
      with:
        java-version: ${{ matrix.java }}
        distribution: 'temurin'
    - uses: actions/checkout@v3
    - name: Maven repository caching
      uses: actions/cache@v3
      with:
        path: ~/.m2/repository
        key: gt-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          gt-maven-
    - name: Setup test environment for MS SQL ${{ matrix.mssql }} 
      run: |
        ./build/ci/mssql/start-mssql.sh ${{ matrix.mssql }}
        ./build/ci/mssql/setup-mssql.sh
    - name: Build GeoTools dependent modules (no tests)
      run: mvn -B clean install -T2 -Dall -pl :gt-jdbc-sqlserver -DskipTests -Dspotless.apply.skip=true -am
    - name: Test MS SQL Server data store
      run: mvn -B clean install -T2 -Dall -pl :gt-jdbc-sqlserver -Ponline -Dspotless.apply.skip=true
    - name: Remove SNAPSHOT jars from repository
      run: |
        find ~/.m2/repository -name "*SNAPSHOT*" -type d | xargs rm -rf {}
